@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 29% 95%;
    --foreground: 215 25% 27%;
    --card: 0 0% 100%;
    --card-foreground: 215 25% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 27%;
    --primary: 180 100% 25%;
    --primary-foreground: 180 100% 95%;
    --secondary: 210 25% 90%;
    --secondary-foreground: 215 25% 27%;
    --muted: 210 25% 90%;
    --muted-foreground: 215 15% 55%;
    --accent: 202 69% 90%;
    --accent-foreground: 180 100% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 0 0% 100%;
    --ring: 180 100% 25%;
    --chart-1: 180 100% 30%;
    --chart-2: 202 69% 55%;
    --chart-3: 197 37% 44%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 216 34% 17%;
    --sidebar-foreground: 210 40% 96%;
    --sidebar-primary: 180 100% 35%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 180 100% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 216 34% 25%;
    --sidebar-ring: 180 100% 35%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 202 69% 83%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 180 100% 35%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 202 69% 83%;
    --chart-1: 202 70% 50%;
    --chart-2: 180 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 202 69% 83%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 180 100% 35%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 202 69% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.leaflet-popup-content-wrapper {
    @apply bg-popover text-popover-foreground rounded-md shadow-md;
    border-radius: var(--radius);
}

.leaflet-popup-content {
    @apply text-sm;
    margin: 10px;
}

.leaflet-popup-tip {
    @apply bg-popover;
}
